* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-primary: #0c2b8f;
    --color-secundary: #f0f0f0;
    --color-tertiary: #0883c9;
    --color-cuaternary: #3f3f3f;
    --text-color-primary: #1b1b1b;
    --text-color-secundary: #f3f5fc;

    --fuente-krona: 'Krona One', sans-serif;
    --fuente-montserrat: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(#608bc0 0%, #abc2df 100%);
    height: 100%;
    overflow-x: hidden;
    font-family: var(--fuente-krona);
}

.main-container {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: var(--color-tertiary);
    color: var(--text-color-secundary);
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-header {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.container-img {
    width: 50%;
    max-width: 50px;   
}

header img {
    margin: 5px;
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

.container-title {
    width: 50%;
}

h1 {
    font-size: 24px;
    font-weight: 700;
}

main {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 15px;
    width: 65%;
}

.paragraph-span {
    width: 80%;
    display: flex;
    align-items: center;
    margin: 5px 10px;
    color: var(--color-primaria);
    font-size: 12px;
}

.text-input {
    width: 80%;
    min-height: 400px;
    background-color: inherit;
    color: var(--color-primary);
    border: none;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
    resize: none;
}

.text-input:focus {
    outline: none;
}

.text-input::-webkit-input-placeholder {
    color: var(--color-primary);
}

.btn-text-input {
    width: 90%;
    display: flex;
    margin-left: auto;
    gap: 15px;
}

.btn-encriptar, .btn-desencriptar, .btn-copy {
    width: 328px;
    padding: 15px 24px;
    border: none;
    border-radius: 15px;
    font-family: var(--fuente-krona);
    cursor: pointer;
    font-size: clamp(14px, 1.5vw, 16px);
    font-weight: 700;
    transition: background-color 0.3s, transform 0.1s;
}

.btn-copy {
    width: 100%;
    padding: 14px 24px;
    border: 1px solid var(--color-primary);
}

.btn-encriptar {
    background-color: var(--color-tertiary);
    color: var(--text-color-secundary);
}

.btn-encriptar:hover {
    background-color: var(--color-primary);
    color: var(--text-color-secundary);
    transform: scale(1.03);
}

.btn-desencriptar, .btn-copy {
    background-color: var(--color-secundary);
    color: var(--color-primary);
}

.btn-desencriptar:hover, .btn-copy:hover {
    background-color: var(--color-cuaternary);
    color: var(--text-color-secundary);
    transform: scale(1.03);
}

/* estilos para el area de resultado */

.container-area-result {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.area-result {
    width: 90%;
    min-width: 230px;
    height: 95%;
    background-color: var(--color-secundary);
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.img {
    max-width: 70%;
    border-radius: 10px;
    height: auto;
}

.text-result {
    text-align: center;
    font-size: 100%;
    font-weight: 700;
    margin: 0;
}

/* para ocultar el boton de copiar */
.hidden {
    display: none;
}

/* texto del area de resultado */
.result {
    width: 100%;
    background-color: inherit;
    text-align: center;
    border: none;
    padding: 5px;
    font-size: 12px;
    resize: none;
}

.height {
    height: 418px;
    text-align: start;
    font-size: 16px;
}

.result:focus {
    outline: none;
}

/* estilos para el footer */
footer {
    background-color: var(--color-tertiary);
    color: var(--text-color-secundary);
    text-align: center;
    padding: 10px;
    width: 100vw
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espacio entre el texto y los iconos */
}

.footer-content p {
    margin: 0;
}

.social-icons {
    display: flex;
    gap: 10px; /* Espacio entre los iconos */
}

.social-icons a {
    color: var(--text-color-secundary);
    font-size: 24px;
    text-decoration: none;
}

.social-icons a:hover {
    color: var(--text-color-primary);
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px){
    body {
        overflow-x: hidden;
    }

    h1 {
        font-size: 20px;
        font-weight: 700;
    }

    main {
        display: grid;
        grid-template-rows: 1fr auto;
    }

    .text-intro {
        width: 100vw;
        margin: 0 auto;
        align-self: end;
        margin-bottom: 20px;
    }

    .text-input {
        width: 90%;
        min-height: 300px;
        margin: 20px auto 0;
    }

    .paragraph-span {
        width: 90%;
        display: flex;
        color: var(--color-primaria);
        font-size: 12px;
    }

    .img {
        display: none;
    }

    .btn-text-input {
        width: 90%;
        margin: 0 auto;
    }

    .height {
        height: 250px;
        text-align: start;
        font-size: 16px;
    }

    .container-area-result {
        width: 100vw;
        margin: 10px auto;
        justify-content: center;
    }

    .area-result {
        padding: 10px;
        height: max-content;
    }
}

@media screen and (max-width: 430px){
    body {
        overflow-x: hidden;
    }

    h1 {
        font-size: 16px;
        font-weight: 700;
    }

    .text-intro {
        width: 100vw;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .btn-text-input {
        flex-direction: column;
    }

    .btn-encriptar, .btn-desencriptar, .btn-copy {
        width: auto;
    }

    .btn-copy {
        width: 100%;
    }

    footer {
        font-size: 14px;
    }
}






